{{ define "content" }}
<main>
  <div>
    <div class="top">
      <h1 class="autor">Karel <br>Čapek</h1>
    </div>
    <div class="bottom">
      <h1 class="titul">Továrna <br>na absolutno<br><span class="underline full"></span></h1>

      <h2 class="nakladatel"><br>N→B<br><span class="underline outline"></span></h2>
    </div>

    <div class="wrapper">
      <div class="composition">
        <video id="video" autoplay="" muted="" playsinline="" loop="">
            <source src="./images/titulni.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</main>
{{ end }}
